.cs-icon-connect-dims {
  height: 15px;
  width: 30px;
}

.cs-icon-connect-joule-dims {
  height: 70px;
  width: 70px;
  border-radius: 70px;
  margin-top: 0px;
}

.cs-icon-home-light-dims {
  width: 20px;
  height: 20px;
}

.cs-icon-help-dims {
  width: 20px;
  height: 20px;
}

.cs-icon-settings-dims {
  width: 20px;
  height: 20px;
}

.cs-icon-cookhistory-dims {
  width: 20px;
  height: 20px;
}

.cs-icon-arrow-large-dims {
	width: 20px;
	height: 14px;
}

.cs-icon-arrow-small-dims {
	width: 13.5px;
	height: 9.5px;
}

.cs-icon-bulb-dims {
	width: 26.3px;
	height: 28.7px;
}

.cs-icon-c-active-dims {
	width: 12.6px;
	height: 12.9px;
}

.cs-icon-c-inactive-dims {
	width: 12px;
	height: 12.9px;
}

.cs-icon-camera-dims {
	width: 30.3px;
	height: 21.7px;
}

.cs-icon-camera-filled-dims {
	width: 30.3px;
	height: 21.7px;
}

.cs-icon-camera-roll-dims {
	width: 25px;
	height: 25px;
}

.cs-icon-degree-dims {
	width: 8.1px;
	height: 8.2px;
}

.cs-icon-f-active-dims {
	width: 6.8px;
	height: 12.4px;
}

.cs-icon-f-inactive-dims {
	width: 6.1px;
	height: 12.4px;
}

.cs-icon-home-dims {
	width: 20.6px;
	height: 18.5px;
}

.cs-icon-menu-dims {
	width: 18px;
	height: 18px;
}

.cs-icon-movie-dims {
	width: 24px;
	height: 24px;
}

.cs-icon-power-dims {
	width: 19.5px;
	height: 23.5px;
}

.cs-icon-rate-dims {
	width: 35.5px;
	height: 34px;
}

.cs-icon-rated-dims {
	width: 35.5px;
	height: 34px;
}

.cs-icon-share-dims {
	width: 16.8px;
	height: 16.8px;
}

.cs-icon-recipes-dims {
	width: 19.5px;
	height: 19.5px;
}

.cs-icon-spanner-dims {
	width: 14.6px;
	height: 8.3px;
}

.cs-icon-steps-dims {
	width: 18px;
	height: 18px;
}

.cs-icon-tick-dims {
	width: 17.2px;
	height: 13.2px;
}

.cs-icon-time-large-dims {
	width: 28.4px;
	height: 25.2px;
}

.cs-icon-time-small-dims {
	width: 20px;
	height: 17.5px;
}

.cs-icon-wifi-medium-dims {
	width: 11.3px;
	height: 7.1px;
}

.cs-icon-wifi-protected-dims {
	width: 11.3px;
	height: 16px;
}

.cs-icon-wifi-strong-dims {
	width: 16.9px;
	height: 11.4px;
}

.cs-icon-wifi-weak-dims {
	width: 3px;
	height: 3px;
}

.cs-icon-x-dims {
	width: 14px;
	height: 14px;
}

.cs-icon-comment-dims {
  width: 20px;
  height: 20px;
}
