<ion-view class='background-primary'>
  <div class='text-sub-header text-center'>
    <div class='top-title' i18n='pairing.renameHeaderPrimary'></div>
    <div class='text-description' i18n='pairing.renameHeaderSecondary'></div>
  </div>
  <div class='rename-container'>
    <form class='rename-form'>
      <input autocapitalize='off' autocomplete='off' autocorrect='off' class='text-center' maxlength='10' ng-change='onInputChange(newName)' ng-model='newName' type='text'>
      <button ng-class='buttonClass' ng-click='buttonAction()' type='submit'>{{buttonText}}</button>
    </form>
  </div>
</ion-view>
