<menu-button class='menu-button-transparent'></menu-button>
<ion-view class='background-black'>
  <status-bar-spacer></status-bar-spacer>
  <ion-content class='background-primary' scrollbar-x='false' scrollbar-y='false'>
    <div class='settings-container'>
      <div class='settings-header'>
        <svg class='settings-header-icon'>
          <use xlink:href='svg/cog.svg#cog'></use>
        </svg>
        <div class='settings-header-text' i18n='deviceAbout.circulatorName'></div>
      </div>
      <div class='settings-item'>
        <div class='settings-item-text'>{{circulatorName}}</div>
      </div>
      <div class='settings-header'>
        <svg class='settings-header-icon'>
          <use xlink:href='svg/cog.svg#cog'></use>
        </svg>
        <div class='settings-header-text' i18n='deviceAbout.appFirmwareVersion'></div>
      </div>
      <div class='settings-item'>
        <div class='settings-item-text'>{{appFirmwareVersion}}</div>
      </div>
      <div class='settings-header'>
        <svg class='settings-header-icon'>
          <use xlink:href='svg/cog.svg#cog'></use>
        </svg>
        <div class='settings-header-text' i18n='deviceAbout.espFirmwareVersion'></div>
      </div>
      <div class='settings-item'>
        <div class='settings-item-text'>{{espFirmwareVersion}}</div>
      </div>
      <div class='settings-header'>
        <svg class='settings-header-icon'>
          <use xlink:href='svg/cog.svg#cog'></use>
        </svg>
        <div class='settings-header-text' i18n='deviceAbout.circulatorSerialNumber'></div>
      </div>
      <div class='settings-item'>
        <div class='settings-item-text'>{{circulatorSerialNumber}}</div>
      </div>
    </div>
  </ion-content>
  <div class='settings-header-background'>
    <div class='settings-container-header' i18n='settings.aboutDevice'></div>
  </div>
  <bottom-gradient gradient-style='grey-gradient'></bottom-gradient>
</ion-view>
<navigation-button color='textPrimary' state='back'></navigation-button>
